<nav class="breadcrumbs">
    <a href="/rapidfire/">Quiz</a>
    <a class="unavailable" href="/rapidfire/">Answer Questions</a>
    <a class="unavailable" href="/rapidfire/"><%= @question_group.name %></a>
</nav>
<h2>Category: <%= @question_group.name %></h2>
<hr/>

<%= form_for([@question_group, @answer_group_builder]) do |f| %>
  <%- @answer_group_builder.answers.each do |answer| %>
    <fieldset>
     <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
     <%= answer.question.id.to_s + "." %>
     <%= render_answer_form_helper(answer, answer_form) %>
    <% end %>
    </fieldset><br>
  <% end %>
  <%= f.submit "Submit", class: "button success radius expand", onclick: "Materialize.toast('Answer Submitted', 4000)" %>

<% end %>
