<h1>Results</h1>

<%- @question_group_results.each do |result| %>
  <div>
    <h4><%= result.question.question_text %></h4>
    <p>
      <%- if result.results.is_a?(Array) %>
        <ol>
          <%- result.results.each do |answer| %>
            <li><%= answer %></li>
          <% end %>
        </ol>
      <% elsif result.results.is_a?(Hash) %>
        <table>
          <thead>
            <tr>
              <th>Option</th>
              <th>Count</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <% crnt = User.find(2).name %>
            <%- result.results.each do |option, count, crnt | %>
              <tr>
                <td><%= option %></td>
                <td><%= count %></td>
                <td><%= User.find(2).name %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
<% end %>
