<h1>Results</h1>
<h3>Anonymous Results</h3>
<%- @question_group_results.each do |result| %>
  <div>
    <h4><%= result.question.question_text %></h4>
    <p>
      <%- if result.results.is_a?(Array) %>
        <ol>
          <%- result.results.each do |answer| %>
            <li><%= answer %></li>
          <% end %>
        </ol>
      <% elsif result.results.is_a?(Hash) %>
        <table>
          <thead>
            <tr>
              <th>Option</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <%- result.results.each do |option, count| %>
              <tr>
                  <td><%= option %></td>
                  <td><%= count %></td>
              </tr>
             
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
<% end %>

<hr>
<h3>All Attempts By Teams</h3>
  <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Answer_text</th>
            </tr>
          </thead>
          <tbody>
          <% cnt = 1 %>  
          <%- (1..Rapidfire::AnswerGroup.count).each do |i|  %>
              <tr>
                  <td><%= User.find(Rapidfire::AnswerGroup.find(i).user_id).name %></td>
                  <td>
                      <%- (cnt..(Rapidfire::Answer).count).each do |j|  %>
                        <% break if ((Rapidfire::Answer.where(:answer_group_id => i).find_by_id(j)) == nil) %>
                        <%= " [ " + Rapidfire::Answer.where(:answer_group_id => i).find_by_id(j).answer_text + " = " + Rapidfire::Answer.where(:answer_group_id => i).find_by_id(j).correct? + " ] " %>
                        <% cnt = cnt + 1 %>
                      <% end %>
                  </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    