
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : ".SH" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sample App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="icon-bar four-up">
        <%= link_to "<h4><span class='glyphicon glyphicon-info-sign' aria-hidden='true'><br>Help</span></h4>".html_safe, main_app.help_path,  :class => "item", :id => "" %>

          <% if logged_in? %>
            <%= link_to "<h4><span class='glyphicon glyphicon-search' aria-hidden='true'><br>Quiz</span></h4>".html_safe, main_app.rapidfire_path, :class => "item" %>
            <%= link_to "<h4><span class='glyphicon glyphicon-eye-open' aria-hidden='true'><br>Teams</span></h4>".html_safe, main_app.root_path, :class => "item" %>
            <%#= link_to "<h4><span class='glyphicon glyphicon-check' aria-hidden='true'><br>My Team</span></h4>".html_safe, current_user, :class => "item" %>
            <%= link_to "<h4><span class='glyphicon glyphicon-log-out' aria-hidden='true'><br>Logout</span></h4>".html_safe, main_app.logout_path, method: "delete", :class => "item" %>
          <% else %>
            <%= link_to "<h4><span class='glyphicon glyphicon-log-in' aria-hidden='true'><br>Login</span></h4>".html_safe, login_path, :class => "item" %>
          <% end %>
      </div>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
      <%= render 'layouts/footer' %>
<script>
  $(document).ready(function() {
    $('.materialboxed').materialbox();
    $('.modal-trigger').leanModal();
  });
</script>            
  </body>
</html>